@import "tailwindcss";
@plugin "daisyui";

body{
    background: url(../bgh.jpeg);
    background-size: cover;
    background-position: center;
    /* height: max-content; */
    /* width: max-content; */
    .no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; }

}